<h1 class="display-5">
  Reportes
  <strong *ngIf="employee" class="h4 text-muted">
    Empleado {{ employee?.name }} {{ employee?.lastName }}
  </strong>
</h1>
<a
  href="/finances/{{ employee?.department }}/employees"
  type="button"
  class="btn btn-outline-red mt-3"
>
  Regresar
</a>

<p class="lead mt-4" *ngIf="employee && commissions?.length == 0">
  El empleado no cuenta con comisiones asignadas para la generación de reportes
</p>
<div *ngIf="employee && commissions?.length > 0">
  <div class="mt-5">
    <h1 class="display-5">General</h1>
    <div class="mt-4 row mx-auto">
      <div class="card me-4 ms-1 mb-4" style="width: 30rem">
        <div class="card-body">
          <dl class="row">
            <h5 class="card-title text-center">
              Número de comisiones asignadas
            </h5>
            <p class="text-muted h2 text-center">
              <strong>
                {{ viatics.length + transports.length }}
              </strong>
            </p>
          </dl>
        </div>
      </div>
      <div class="card me-4 ms-1 mb-4" style="width: 30rem">
        <div class="card-body">
          <dl class="row">
            <h5 class="card-title text-center">Gastos totales realizados</h5>
            <p class="text-muted h2 text-center">
              <strong> ${{ amount | number: "1.2" }} MXN </strong>
            </p>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h1 class="display-5">Comisiones asignadas</h1>
    <div class="card me-4 ms-1 mb-4 mt-4">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Historial de viáticos</h5>
        </dl>
        <p *ngIf="viatics.length <= 0" class="card-title text-center">
          El empleado no cuenta actualmente con comisiones de viaticos
          asignadas.
        </p>
        <div class="table-responsive">
          <table *ngIf="viatics.length > 0" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha de inicio de la comisión</th>
                <th scope="col">Fecha de termino de la comisión</th>
                <th scope="col">Lugar de la comisión</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let viaticCommission of viatics">
                <td>
                  {{ viaticCommission.beginDate | date: "dd-MMM-yyyy":"es" }}
                </td>
                <td>
                  {{ viaticCommission.endDate | date: "dd-MMM-yyyy":"es" }}
                </td>
                <td>{{ viaticCommission.placeCommission }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card me-4 ms-1 mb-4 mt-4">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Historial de transportes</h5>
        </dl>
        <p *ngIf="transports.length <= 0" class="card-title text-center">
          El empleado no cuenta actualmente con comisiones de transporte
          asignadas.
        </p>
        <div class="table-responsive">
          <table *ngIf="transports.length > 0" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha de inicio de la comisión</th>
                <th scope="col">Fecha de termino de la comisión</th>
                <th scope="col">Lugar de la comisión</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tranportCommission of transports">
                <td>
                  {{ tranportCommission.beginDate | date: "dd-MMM-yyyy":"es" }}
                </td>
                <td>
                  {{ tranportCommission.endDate | date: "dd-MMM-yyyy":"es" }}
                </td>
                <td>{{ tranportCommission.placeCommission }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h1 class="display-5">Gastos</h1>
    <div class="card me-4 ms-1 mb-4 mt-4">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Gastos desglosados</h5>
        </dl>

        <p *ngIf="factures?.length <= 0" class="card-title text-center">
          El empleado no cuenta actualmente con registro de gastos.
        </p>
        <div class="table-responsive">
          <table *ngIf="factures?.length > 0" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Concepto del gasto</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facture of factures">
                <td>{{ facture.date | date: "dd-MMM-yyyy":"es" }}</td>
                <td>{{ facture.factureDescription }}</td>
                <td>${{ facture.amount | number: "1.2" }} MXN</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
