<h1 class="display-5">
  Reportes
  <strong class="h4 text-muted"> Departamento de </strong>
</h1>
<a href="/finances/departments" type="button" class="btn btn-outline-red mt-3">
  Regresar
</a>
<div class="mt-5">
  <h1 class="display-5">General</h1>
  <div class="mt-4 row mx-auto">
    <div class="card me-4 ms-1 mb-4" style="width: 14rem">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Presupuesto asignado</h5>
        </dl>
      </div>
    </div>
    <div class="card me-4 ms-1 mb-4" style="width: 14rem">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Presupuesto para viáticos</h5>
        </dl>
      </div>
    </div>
    <div class="card me-4 ms-1 mb-4" style="width: 14rem">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Presupuesto para transportes</h5>
        </dl>
      </div>
    </div>
    <div class="card me-4 ms-1 mb-4" style="width: 14rem">
      <div class="card-body">
        <dl class="row">
          <h5 class="card-title text-center">Presuesto ejercido</h5>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">
  <h1 class="display-5">Historiales</h1>
  <div class="card me-4 ms-1 mb-4 mt-4">
    <div class="card-body">
      <dl class="row">
        <h5 class="card-title text-center">Historial de comisiones</h5>
      </dl>
    </div>
  </div>
</div>

<div class="mt-5">
  <h1 class="display-5">Gastos</h1>
  <div class="card me-4 ms-1 mb-4 mt-4">
    <div class="card-body">
      <dl class="row">
        <h5 class="card-title text-center">Gastos desglosados</h5>
      </dl>
    </div>
  </div>
</div>
