<h1 class="display-5">Comisiones</h1>
<div class="mt-4">
  <a href="/finances/departments" type="button" class="btn btn-outline-red">
    Regresar
  </a>
  <div class="card mt-4 mb-4">
    <div class="card-header card-header-main">
      <h2 class="h5">Comisiones solicitadas</h2>
    </div>
    <div class="card-body">
      <p class="lead mt-3" *ngIf="commissions?.length == 0">
        No se han realizado solicitudes de comisiones en el departamento.
      </p>
      <div *ngIf="commissions?.length > 0" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tipo de comisión</th>
              <th scope="col">Empleado solicitante</th>
              <th scope="col">Lugar de la comisión</th>
              <th scope="col">Fecha de inicio de la comisión</th>
              <th scope="col">Fecha de termino de la comisión</th>
              <th scope="col">Estado de la comisión</th>
              <th scope="col">Monto depositado</th>
              <th scope="col">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commission of commissions">
              <td>{{ commission.typeCommission }}</td>
              <td>
                {{ commission?.employee[0].lastName }}
                {{ commission?.employee[0].name }}
              </td>
              <td>{{ commission.placeCommission }}</td>
              <td>{{ commission.beginDate | date: "dd-MMM-yyyy":"es" }}</td>
              <td>{{ commission.endDate | date: "dd-MMM-yyyy" }}</td>
              <td>
                <span
                  [ngClass]="
                    commission.isApprovedByFinances &&
                    commission.isApprovedByManager
                      ? 'bg-primary'
                      : commission.isApprovedByFinances === false ||
                        commission.isApprovedByManager === false
                      ? 'bg-danger'
                      : 'bg-secondary'
                  "
                  class="badge rounded-pill"
                  >{{
                    commission.isApprovedByFinances &&
                    commission.isApprovedByManager
                      ? "Aprobada"
                      : commission.isApprovedByFinances === false ||
                        commission.isApprovedByManager === false
                      ? "Rechazada"
                      : "Por aprobar"
                  }}</span
                >
              </td>

              <td>
                {{
                  commission.amountAssigned
                    ? "$" + (commission.amountAssigned | number: "1.2") + " MXN"
                    : "Sin depósitos"
                }}
              </td>
              <td class="text-center">
                <a
                  class="btn btn-sm btn-outline-primary"
                  href="/finances/{{
                    commission.employee[0].department
                  }}/commissions/{{ commission.id }}"
                >
                  <i class="fa fa-file"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
