<div *ngIf="manager === null">
  <p>No es posible acceder al recurso.</p>
</div>
<div *ngIf="manager">
  <h1 class="display-5">Empleados del área de {{ manager?.department }}</h1>
  <div class="mt-4">
    <div class="card mt-4 mb-4">
      <div class="card-header card-header-main">
        <h2 class="h5">Empleados subordinados</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Número telefónico</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phoneNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
