<div class="card shadow">
  <div class="card-header card-header-main text-center">
    <h2 class="h4">Horas registradas</h2>
  </div>
  <div class="card-body">
    <div class="btn-container mb-3 mt-2">
      <ng-content></ng-content>
    </div>
    <div class="msg-info-container" *ngIf="timeEntries==null">
      <p
        class="text-muted text-center mt-5 ms-4"
      >
        No se han registrado horas en este reporte.
      </p>
    </div>
    <div class="table-responsive" *ngIf="timeEntries?.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Hora de entrada</th>
            <th scope="col">Hora de salida</th>
            <th scope="col">Horas trabajadas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeEntry of timeEntries">
            <td>{{ timeEntry.date | date : "dd-MMM-yyyy" : "es" }}</td>
            <td>{{ timeEntry.entryTime }}</td>
            <td>{{ timeEntry.exitTime }}</td>
            <td>{{ timeEntry.workedHours }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav
      class="paginator"
      aria-label="Page navigation example"
      *ngIf="pagination?.pages > 1"
    >
      <ul class="pagination justify-content-end">
        <li
          class="page-item"
          [ngClass]="pagination.page - 1 <= 0 ? 'disabled' : ''"
        >
          <btn
            class="page-link btn"
            (click)="onSelectIndex(pagination.page - 1)"
            >Anterior</btn
          >
        </li>
        <li
          *ngFor="let index of pagesToShow"
          class="page-item"
          [ngClass]="index == currentPage ? 'active' : ''"
        >
          <btn class="page-link btn" (click)="onSelectIndex(index)">{{
            index
          }}</btn>
        </li>
        <li
          class="page-item"
          [ngClass]="pagination.page + 1 > pagination.pages ? 'disabled' : ''"
        >
          <btn
            class="page-link btn"
            (click)="onSelectIndex(pagination.page + 1)"
            >Siguiente</btn
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
