<h1 class="display-5">Empleados</h1>
<div class="mt-4">
  <a href="/finances/departments" type="button" class="btn btn-outline-red">
    Regresar
  </a>
  <div class="card mt-4 mb-4">
    <div class="card-header card-header-main">
      <h2 class="h5">Empleados del departamento</h2>
    </div>
    <div class="card-body">
      <p class="lead mt-3" *ngIf="employees?.length == 0">
        Actualmente no existen empleados registrados en el departamento
      </p>
      <div *ngIf="employees.length > 0" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
              <th scope="col">Departamento</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">Número telefónico</th>
              <th scope="col">Reportes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.name }}</td>

              <td>{{ employee.department }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.phoneNumber }}</td>
              <td class="text-center">
                <a href="/finances/{{ employee.department }}/employees/{{employee.id}}/reports"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="fa fa-file"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

