<h1 class="display-5 mt-5">Facturas</h1>
<div class="mt-4">
  <div class="card mt-4 mb-4">
    <div class="card-header card-header-main">
      <h2 class="h5">Facturas de la comisión</h2>
    </div>
    <div class="card-body">
      <p class="lead mt-3" *ngIf="factures?.length == 0">
        No existen facturas registradas por el empleado para la comisión.
      </p>
      <div *ngIf="factures?.length > 0" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Fecha de las factura</th>
              <th scope="col">Descripción de la factura</th>
              <th scope="col">Monto de la factura</th>
              <th scope="col">Archivo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let facture of factures">
              <td>{{ facture.date | date: "dd-MMM-yyyy":"es" }}</td>
              <td>{{ facture.factureDescription }}</td>
              <td>$ {{ facture.amount | number: "1.2" }}</td>
              <td>
                <a
                  href="{{ facture?.filePath }}"
                  target="_blank"
                  type="button"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="fa fa-file"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
